aiogram==2.14.3

nltk==3.3
seaborn==0.11.1
beautifulsoup4==4.9.3
html5lib==1.1
requests==2.25.1
gensim==4.0.1
scikit-learn==0.24.2
pyLDAvis==3.3.1
python-Levenshtein==0.12.2
pandas~=1.2.4
numpy~=1.20.2
matplotlib~=3.4.1
sklearn~=0.0
ipython==7.23.1
torch==1.9.0
transformers==4.8.2
textblob==0.15.3
text2emotion==0.0.5